[Unit]
Description=Celery worker
After=redis.service

[Service]
ExecStart=/home/backend-admin/auction-backend/run_commands/celery-worker.sh
Restart=on-failure
User=backend-admin
Group=backend-admin
StandardOutput=file:/home/backend-admin/auction-backend/logs/celery-worker-output.log
StandardError=file:/home/backend-admin/auction-backend/logs/celery-worker-error.log

[Install]
WantedBy=multi-user.target
